@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


h1
{
    font-size: 50px;
}
*
{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
body
{
    background-color: black;
    background-image: url("IMAGES/background.jpg");
}
h2
{
font-size: 16px;
}
.sunset
{
height: 50% ;
width: 50%;
}
.selfie
{
height: 250px;
}
.aboutme
{
    border-style: double;
}
.layoutcontainer
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}
.links
{
    border-style: double;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}
.questionscontainer
{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    margin-left: 200px;
    margin-right:200px;
}